.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.json
tslint.json
*.vsix
**/.eslintrc.json
**/*.map
**/*.ts
!images/partition_view_example.png
!images/routing_view_example.png

